* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fonte-texto);
  color: var(--cor-preta);
  background-color: var(--cor-cinza-claro);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fonte-titulo);
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 0.9rem;
}
h4 {
  font-size: 0.8rem;
}

label {
  font-size: 0.8rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
