:root {
  --cor-branca: #f1f1f1;
  --cor-preta: #222222;

  --cor-cinza-claro: #e6e6e6;
  --cor-cinza-medio: #b3b3b3;

  --cor-amarela-claro: #fcef3e;
  --cor-amarela-medio: #ffb223;

  --cor-laranja-claro: #ff8800;
  --cor-laranja-medio: #ff6a00;

  --cor-vermelha: #b40000;
  --cor-verde: #00be19;

  --fonte-titulo: "Lugrasimo", cursive;
  --fonte-texto: "Raleway", sans-serif;

  --transicao: all 0.2s ease-in-out;
  --transform-scale: scale(1.1);
  --box-shadow: 2px 3px 20px 1px rgb(37, 37, 37);
}
