.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.container h1 {
  font-size: 1.3rem;
  text-align: center;
}

.listaCategorias {
  width: 100%;
  text-align: center;
}

.categorias_itens {
  background-color: var(--cor-branca);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
}
