.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  z-index: 99;
}

.loading_item {
  border: 1rem solid rgb(255, 242, 124);
  border-top: 1rem solid rgb(126, 0, 0);
  border-radius: 100%;
  width: 8rem;
  height: 8rem;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
