.rodape {
  background-color: var(--cor-preta);
  color: var(--cor-amarela-claro);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.rodape a {
  color: var(--cor-amarela-claro);
  text-decoration: none;
  border: 1px solid var(--cor-amarela-claro);
  padding: 0.3rem;
  margin: 0.3rem;
  border-radius: 0.5rem;
  transition: var(--transicao);
}

.rodape a:hover {
  background-color: var(--cor-amarela-claro);
  color: var(--cor-preta);
}

.rodape h4 {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0.5rem;
  font-size: 0.7rem;
  font-weight: 100;
  color: var(--cor-cinza-medio);
}

.rodape p {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0.5rem;
  font-size: 0.8rem;
  font-weight: 300;
}
